body {
  box-sizing: border-box !important;
  width: 100%;
  min-width: 360px;
}

#desc-card-group {
  margin: 30px auto;
  align-items: center;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

#desc-card {
  margin: auto 5px;
  flex: 1;
  min-width: 200px;
}

.texto-card {
  margin: 15px;
  text-align: center;
  line-height: 40px;
  padding: 5px 5px 0 5px;
}

.desc-p {
  font-weight: bold;
  font-size: 18px;
}

.desc-aclaracion {
  font-size: 14px;
  opacity: 50%;
}

.row .venta {
  align-items: center;
  margin: 40px;
  width: 70%;
}

.venta-p {
  text-align: center;
  margin-bottom: 0;
  font-size: larger;
}

.venta-h1 {
  margin-top: 0;
  text-align: center;
}

#formulario .row {
  margin: 10px;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

#formulario {
  width: 70%;
  margin: 20px auto;
}

#resumen,
#borrar {
  width: 100%;
}

.error-message {
  margin-top: 5px;
  width: 50%;
  text-align: center;
  background-color: rgba(202, 36, 30, 0.3);
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid rgba(202, 36, 30, 0.7);
  color: rgba(202, 36, 30);
  display: none;
}

footer {
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer-lista {
  list-style: none;
  text-align: center;
}

.footer-lista-li {
  display: inline-block;
  padding: 0.5vw;
}

.footer-lista-a {
  color: white;
  text-decoration: none;
}

.footer-lista-a:hover {
  color: green;
}

.resumen-message {
  background-color: rgb(139, 209, 139);
  border-radius: 3px;
  border: 1px solid rgba(38, 80, 35, 0.7);
  color: rgba(38, 80, 35);
  margin: 20px auto;
  height: 200px;
  box-shadow: 0 0 3px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.resumen-message .row {
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 650px) {
  #cancelar,
  #comprar {
    font-size: 2.5vw;
    margin: 0 2px 0 2px;
    align-items: center;
    padding: 5px;
  }

  .resumen-message {
    width: 35%;
    padding-bottom: 0px;
  }
}

.resumen-message h3 {
  text-align: center;
  margin-top: 7px;
}

.exito-message {
  background-color: rgb(139, 209, 139);
  border-radius: 3px;
  border: 1px solid rgba(38, 80, 35, 0.7);
  color: rgba(38, 80, 35);
  margin: auto;
  height: 100px;
  box-shadow: 0 0 3px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@media (max-width: 650px) {
  .exito-message {
    width: 35%;
  }
}

#exito-text {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
