body {
  box-sizing: border-box !important;
  width: 100%;
  min-width: 360px;
}

.desc-card-group {
  max-width: 800px;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .desc-card-group {
    height: 600px;
  }
}
.texto-card {
  margin: 15px;
  text-align: center;
  line-height: 45px;
  padding: 5px 5px 0 5px;
}

.desc-p {
  font-weight: bold;
  font-size: 18px;
}

.desc-aclaracion {
  font-size: 14px;
  opacity: 50%;
}

.venta {
  justify-content: center;
  margin: 30px;
}

.venta-p {
  text-align: center;
  margin-bottom: 0;
  font-size: larger;
}

.venta-h1 {
  margin-top: 0;
  text-align: center;
}

#formulario .row {
  margin: 10px;
  text-align: center;
  justify-content: center;
}
#formulario {
  max-width: 80%;
  padding: 0px;
  margin: 20px auto;
}

#resumen,
#borrar {
  width: 100%;
}

.error-message {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  background-color: rgba(28, 94, 28, 0.3);
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid rgba(38, 80, 35, 0.7);
  color: rgba(38, 80, 35);
  display: none;
}

footer {
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer-lista {
  list-style: none;
  text-align: center;
}

.footer-lista-li {
  display: inline-block;
  padding: 0.5vw;
}

.footer-lista-a {
  color: white;
  text-decoration: none;
}

.footer-lista-a:hover {
  color: green;
}

.resumen-message {
  background-color: rgb(139, 209, 139);
  border-radius: 3px;
  border: 1px solid rgba(38, 80, 35, 0.7);
  color: rgba(38, 80, 35);
  margin: 20px auto;
  width: 25%;
  height: 200px;
  box-shadow: 0 0 3px;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.resumen-message .row {
  margin-top: 60px;
  margin-bottom: 0px;
  text-align: center;
}

.resumen-message h3 {
  text-align: center;
  margin-top: 10px;
}
